#jsduck - ignore the generated docs
docs/docs/

#aptana
*.project

#webstorm
.idea

############
# Sencha #
############

temp/
/build/
.architect
.project
.sencha/
.sass-cache/
.sencha_backup/
ext/
touch/
temp/
build/


bootstrap.css
bootstrap.js
bootstrap.json
sass/example/bootstrap.css
sass/example/bootstrap.js
sass/example/bootstrap.json
sass/example/example.css

*slicer-temp*
gwt-unitCache

#merge backup files
*.orig